@import url("./Styles/fonts.css");

.headerContainer {
  width: 100%;
  display: flexs;
  justify-content: flex-start;

  img {
    width: 90px;
  }

  .title {
    .name {
      color: var(--text-color);
      font-size: 1.6rem;
    }
    .occupation {
      color: var(--text-blue-gray);
      font-size: 1rem;
    }
  }

  .links {
    margin-top: 0.8em;
    font-size: 1.2em;
    display: flex;
    gap: 0.6em;
    i {
      color: var(--text-color);
    }
  }
}
