.homeDescription {
  padding: 1.425rem;
  padding-left: 0.325rem;
  p {
    font-size: var(--font-size-5);
    line-height: 1.75rem;
    padding-bottom: 1.4rem;

    .myLink {
      text-decoration: underline;

      &:hover {
        color: var(--text-color);
      }
    }
  }
}
