@import url("./Styles/colors.css");
@import url("./Styles/fonts.css");
@import url("./Styles/fontSizes.css");

* {
  background-color: var(--background-color);
  color: rgb(172, 174, 176);
  font-family: "argon";
  /* font-family: "fira"; */
}
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  margin: 0;
}
