@import url("./Styles/colors.css");

* {
  background-color: var(--background-color);
  color: rgb(172, 174, 176);
}

body {
  margin: 0;
  line-height: inherit;
}

.mainContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.content {
  max-width: 48rem;
  min-width: 40rem;
  /* to test, remove when i have content */
}
