@import url("./Styles/colors.css");

* {
  background-color: var(--background-color);
  color: rgb(172, 174, 176);
  font-family: "argon";
  /* font-family: "fira"; */
}

body {
  margin: 0;
  line-height: inherit;
}

.mainContainer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.content {
  max-width: 48rem;
}
