.navigationContainer {
  margin-top: 4rem;
  margin-bottom: 2.5rem;

  hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, var(--text-blue-gray), transparent);
  }

  .menu-container {
    display: flex;
    justify-content: flex-start;
    gap: 5px;

    .menu-button {
      padding: 0.4rem 0.6rem;
      border-radius: 0.2rem;
      border: none;
      font-size: var(--font-size-5);
      position: relative;
      cursor: pointer;
    }

    /* Hover effect */
    .menu-button:hover {
      color: var(--text-color);
    }

    .menu-button:focus {
      outline: none;
    }
  }
}

.menu-button.active {
  background-color: var(--background-color-lighter);
  color: var(--text-color);
  border-radius: 5px;
}
