.menu-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.menu-button {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: none;
  color: var(--text-blue-gray);
  font-size: 1rem;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Hover effect */
.menu-button:hover {
  color: var(--text-color);
}

.menu-button:focus {
  outline: none;
}
