.navigationContainer {
  .menu-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: 0.1rem;

    .menu-button {
      padding: 0.6rem;
      border-radius: 0.2rem;
      border: none;
      font-size: var(--font-size-5);
      position: relative;
      cursor: pointer;
      color: var(--text-color-darker);
    }

    /* Hover effect */
    .menu-button:hover {
      color: var(--text-color);
    }

    .menu-button:focus {
      outline: none;
    }
  }
}

.menu-button.active {
  background-color: var(--background-color-lighter);
  color: var(--text-color) !important;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .websiteView {
    display: block;
  }

  .content {
    margin-top: 3rem;
  }
}
