ul {
  list-style-type: none;
  padding: 0px;
}
li {
  margin-bottom: 3rem;
}

.projectTitle {
  font-size: var(--font-size-4);
  color: var(--text-color);
  margin: 0px;
  font-weight: 400;
  animation: jump 0.5s ease-in-out forwards; /* Apply jump animation for 0.5 seconds */
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px); /* Move up */
  }
  50% {
    transform: translateY(0); /* Go back to the original position */
  }
  75% {
    transform: translateY(10); /* Go back to the original position */
  }
 
  100% {
    transform: translateY(0);
  }
}

a {
  text-decoration: none;
  &:hover {
    div {
      background-color: var(--background-color-lighter);
    }
    h2 {
      background-color: var(--background-color-lighter);
      text-decoration: underline;
    }
    p {
      background-color: var(--background-color-lighter);
    }
  }
}
h3 {
  font-size: var(--font-size-5);
  margin-top: 0px;
  font-weight: 400;
  font-style: italic;
}
