ul {
  list-style-type: none;
  padding: 0px;
  li {
    margin-bottom: 0x;
  }
  a {
    text-decoration: none;
  }
}

.listItemContainer {
  box-sizing: border-box;
  padding: 1.425rem;

  /* padding-left: 0.325rem; */

  .projectTitle {
    font-size: var(--font-size-4);
    color: var(--text-color);
    margin: 0px;
    font-weight: 400;
  }
  .projectDescription {
    padding-top: 1rem;
    margin: 0px;
    line-height: 1.375rem;
  }

  &:hover {
    background-color: var(--background-color-lighter);

    .projectTitle {
      text-decoration: underline;
      background-color: var(--background-color-lighter);
    }

    &.inProgressItem {
      cursor: default;
      .projectTitle {
        text-decoration: none;
      }
    }

    .projectDescription {
      background-color: var(--background-color-lighter);
    }
  }
}

.inProgressItem {
  border: solid 2px #dba527;
  position: relative;
  margin-top: 2rem;
  &:hover {
    cursor: default;
    .projectTitle {
      text-decoration: none;
    }
  }
  .inProgressLabel {
    position: absolute;
    padding: 6px;
    font-size: 14px;
    color: var(--text-color);
    top: -13px;
    right: 15px;
    border: solid 2px #dba527;
  }
}
h3 {
  font-size: var(--font-size-5);
  margin-top: 0px;
  font-weight: 400;
  font-style: italic;
}
