:root {
  --primary-color: rgb(57, 84, 91);
  --secondary-color: #00aad9;
  --third-color: #007c9e;
  --text-color: #dadedf;
  --text-color-2: #c7cbcd;
  --text-color-darker: #aab1b1;
  --background-color: #111827;
  --background-color-lighter: #192339;
  --background-color-darker: #080f1f;
  --frame-color: #dba527;
}
