:root {
  --primary-color: rgb(57, 84, 91);
  --secondary-color: #00aad9;
  --third-color: #007c9e;
  --text-color: #e8edef;
  --text-color-2: #e4e9ec;
  --text-color-darker: #bdc5c5;
  --background-color: #111827;
  --background-color-lighter: #192339;
  --background-color-darker: #080f1f;
  --frame-color: #dba527;
}
