:root {
  --primary-color: #00c8ff;
  --secondary-color: #00aad9;
  --third-color: #007c9e;
  --text-blue-gray: #606f73;
  --text-color: #dadedf;
  --text-color-darker: #999f9f;
  --background-color: #171819;
  --background-color-lighter: #1c1d1f;
}
