:root {
  --primary-color: #00c8ff;
  --secondary-color: #00aad9;
  --third-color: #007c9e;
  --text-blue-gray: #78959c;
  --text-color: #dadedf;
  --text-color-darker: #c3c8c9;
  --background-color: #151a1c;
  --background-color-lighter: #003847;
}
