@font-face {
  font-family: "Krypton";
  src: url("../assets/fonts/MonaspaceKrypton-Regular.woff2") format("woff2");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "radon";
  src: url("../assets/fonts/MonaspaceRadon-Light.woff2") format("woff2");
  font-weight: 300; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "argon";
  src: url("../../assets/fonts/MonaspaceArgon-Regular.woff2") format("woff2");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "neon";
  src: url("../../assets/fonts/MonaspaceNeon-Regular.woff2") format("woff2");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "fira";
  src: url("../../assets/fonts/FiraCode-Regular.woff2") format("woff2");
  font-weight: 400; /* Normal */
  font-style: normal;
}
