ul {
  list-style-type: none;
  padding: 0px;
}

.listItemContainer {
  box-sizing: border-box;
  padding: 1.425rem;
  padding-left: 0.325rem;
}
.jobTitleContainer {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;

  .jobTitle {
    font-size: var(--font-size-4);
    color: var(--text-color);
    margin: 0px;
    font-weight: 400;
  }

  .date {
    font-size: var(--font-size-6);
    color: var(--text-color);
  }
}
p {
  margin: 0px;
}

h3 {
  font-size: var(--font-size-5);
  margin-top: 0px;
  font-weight: 400;
  font-style: italic;

  .myLink {
    text-decoration: underline;

    &:hover {
      color: var(--text-color);
    }
  }
}

.secondParagraph {
  margin-top: 1rem;
}

.projectTitle {
  color: var(--tesxt-color-2);
  font-size: var(--font-size-45);
}
