.headerContainer {
  width: 100%;
  display: flexs;
  justify-content: flex-start;

  .pictureContainer {
    width: 250px;
  }

  .infoContainer {
    margin-top: 1rem;
  }

  .headshot {
    width: 100%;
  }
  .homeLink {
    text-decoration: none;
  }
  .name {
    color: var(--text-color);
    font-size: var(--font-size-1);
    font-weight: 300;

    &:hover {
      text-decoration: underline;
    }
  }
  .occupation {
    color: var(--text-color-darker);
    font-size: var(--font-size-47);
  }

  .links {
    margin-top: 0.8em;
    font-size: var(--font-size-4);
    display: flex;
    gap: 0.6em;
    i {
      color: var(--text-color);
    }
  }

  .cvLink,
  .githubLink,
  .linkedinLink {
    position: relative;
    cursor: pointer;
    .lucide {
      color: var(--text-color-darker);
      stroke-width: 1px;
    }
  }

  .tooltipCV,
  .tooltipGithub,
  .tooltipLinkedin {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s;
    font-size: var(--font-size-6);
    background-color: var(--background-color-darker);
    padding: 0.125rem;
    border-radius: 0.125rem;
  }

  .cvLink:hover .tooltipCV {
    opacity: 1;
  }

  .githubLink:hover .tooltipGithub {
    opacity: 1;
  }

  .linkedinLink:hover .tooltipLinkedin {
    opacity: 1;
  }
}
